# =========================
# Server .gitignore
# =========================

# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db